*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(27, 27, 68);
}


#canvas1 {
    width: 800px;
    height: 500px;
    border: 5px solid lightslategray;
    background: darkslategray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
